<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h3>
         <a href = "{{ url_for('show_all_people') }}">Map the Movie Folder</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

<div>
    {% block content %}
    <h1>Cerca Nuovi Personaggi</h1>
    <form action="{{ url_for('new') }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.actor_name.label }}<br>
            {{ form.actor_name(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
 </div>

<table>
{% for a in data %}
   {% for b in a %}
        Name: {{b['Name']}}
        <br>
        Date: {{b['Date']}}
        <br>

        {% for key, value in b['Filmography'].items() %}
                Key: {{key}}<br><br>
            {% for c in value %}
                Titolo: {{c['Title']}}
                <br>
                Year: {{c['Year']}}
                <br>
                Id: {{c['Id']}}
                <br>
                Present: {{c['Present']}}
                <br><br><br>
            {% endfor %}

{% endfor %}
    {% endfor %}
        {% endfor %}


</table>

   </body>
</html>
