        <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='movie_style.css') }}">

</head>
<body>

		<div class="page">
  <div class="card">
    <div class="container">
      <div class="content">
        <div class="text">
          <h1>{{data['Movie Title']}}</h1>
		  <h3>{{data['Movie Year']}}</h3>
			{% if data['Seasons']  %}

			<h3>{{data['Seasons']}}:stagioni</h3>

			{% endif %}

          <p>{{data['Movie plot']}}</p>
		  <div class="director">
              {% for director in data['Director List'] %}
			{% if director['Present'] == True  %}

                <a href="{{ url_for('show_actor_infos', actor_id=director['Id']) }}">{{director['Name']}}</a>

                {% else  %}

                {{director['Name']}}

                {% endif %}
		{% endfor %}
<br>
        {% for actor in data['Actor List'] %}
                {% if actor['Present'] == True  %}

                <a href="{{ url_for('show_actor_infos', actor_id=actor['Id']) }}">{{actor['Name']}}</a>

                {% else  %}

                {{actor['Name']}}

                {% endif %}


		{% endfor %}
              <br>
        {% for actor in data['Writer List'] %}
			{% if actor['Present'] == True  %}

                <a href="{{ url_for('show_actor_infos', actor_id=actor['Id']) }}">{{actor['Name']}}</a>

                {% else  %}

                {{actor['Name']}}

                {% endif %}
		{% endfor %}
              <br>
</div>

        </div>
      </div>
    </div>
    <div class="photo"></div>
  </div>
</div>


</body>
</html>
