        {{data['Home Directory']}}
        <br>
        {{data['File Name']}}
        <br>
        {{data['Id']}}
        <br>
        {{data['Atime']}}
        <br>
        {{data['Ctime']}}
        <br>
        {{data['Size']}}
        <br>
        {{data['Extension']}}
        <br><br><br>


        {{data['Movie Id']}}
        <br>
        {{data['Movie Url']}}
        <br>
        {{data['Movie Title']}}
        <br>
        {{data['Movie Year']}}

        {% if data['Seasons']  %}

        Stagioni: {{data['Seasons']}}

        {% endif %}

        <br>
        {{data['Movie plot']}}<br>
        {% for director in data['Director List'] %}
			{% if director['Present'] == True  %}

                <a href="{{ url_for('show_actor_infos', actor_id=director['Id']) }}">{{director['Name']}}</a>

                {% else  %}

                {{director['Name']}}

                {% endif %}
		{% endfor %}

        {% for actor in data['Actor List'] %}
                {% if actor['Present'] == True  %}

                <a href="{{ url_for('show_actor_infos', actor_id=actor['Id']) }}">{{actor['Name']}}</a>

                {% else  %}

                {{actor['Name']}}

                {% endif %}


		{% endfor %}
        {% for actor in data['Writer List'] %}
			{% if actor['Present'] == True  %}

                <a href="{{ url_for('show_actor_infos', actor_id=actor['Id']) }}">{{actor['Name']}}</a>

                {% else  %}

                {{actor['Name']}}

                {% endif %}
		{% endfor %}
        <br><br><br>
