<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<h1>Welcome to Map to the Movie Folder</h1>

<div style="width:100%;margin:20px auto;text-align:center;">

  {% for a in data %}
   {% for b in a %}

  <!--Start Of Expander Div-->
  <div class="expander-container" style="background-image: url('http://lorempixel.com/g/220/220/people/');">
    <div id="{{b['Movie Year']}}" class="expander-content-collapsed" onclick="expand('{{b['Movie Id']}}','{{b['Movie Year']}}','{{b['Movie Url']}}')">
      <h2 id="{{b['Movie Url']}}" class="expander-inactive">{{b['Movie Title']}}</h2>
      <div id="{{b['Movie Id']}}" class="expander-invisible">
        <p>{{b['Movie Year']}}</p>
        <a class="button" href="#">More Info</a>
      </div>
    </div>
  </div>
  <!--END of Expander-->

  {% endfor %}
   {% endfor %}

  </div>

<script src="../static/js/index.js"></script>

</body>
</html>
